.page-header
  %h3 Latest uploads
- content_for :sidebar do
  %a.btn.btn-success(href="#upload_modal" role="button" class="btn" data-toggle="modal") FileUpload
  %ul.nav.nav-list
    -# TODO: JSでリストの切り替え
    -#%li= link_to 'Top Rate', '#'
    -#%li= link_to 'Today', '#'
= render 'uploads/uploads', uploads: @files
= render 'uploads/modal', upload: @upload
