#upload_modal.modal.hide.fade
  .modal-header
    %button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
    %h3 Upload
  .modal-body
    = render 'uploads/form', upload: upload
